Single Larvae Data/Citra3
Single Larvae Data/Citra2
maggotMLP/
app.py
grafik.ipynb
single.py
templates/
__pycache__/
!Single Larvae Data/Grade A
!Single Larvae Data/Grade B
!Single Larvae Data/Grade C